
@font-face {
    font-family: Typographica;
    src: url(C:/Users/User/Documents/Website\ Programming/NoctoraWeb/Styles/fonts/TypoGraphica_demo.otf);
}


@font-face {
    font-family: "American Captain";
    src: url(C:/Users/User/Documents/Website\ Programming/NoctoraWeb/Styles/fonts/American\ Captain.otf);
}

body a icon
{
    width: 128px;
    height: 128px;
}

.navbar
{
    order: 5;
    list-style-type: none;
    position: relative;
    overflow:hidden;
    background-color: #28f;
    /* To ensure in this case the whole navbar line has the background colour*/
    padding: 0 20px;
    width: auto;
    height: auto;
    transition: all 0.5s;
}

html
{
    margin: 10px;
}

/* For each list elements */

li {
    margin: 0px;
    float: left; /* float, which means will there be a space-separation or no */
}

li a {
    font-family: Typographica;
    color: white;
    font-size: 20px;
    display: block;
    border-left-color: white;
    border-left-style: solid;
    padding: 10px 20px;
    text-decoration: none; /* Remove the underline or any other text deco */
    position: relative;

}

.Donate /*Class inside of an element*/
{
    border-right-color: white;
    border-right-style: solid;
}

li a:hover:not(.select) /* action when hover button for on than select class */
{
    position: relative;
    background-color: blue;
}

li a:not(.select)
{
   background-color: #28f;
   transition: all 0.5s;
}

.drop
{
    float:left;
}

.select
{
    background-color: #254091;
    position: relative;
    transition: all 0.5s;
    margin: auto;
    padding: auto;
}

html{
    margin: 10px;
}

/* */

.background
{
    order: 2;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(C:/Users/User/Documents/Website\ Programming/NoctoraWeb/Images/oldtown.png);
    background-size: cover;
    background-position: cover;
    padding: 15px 20px;
    margin-top: 15px;
    width: 100h;
    height: 100%;
    background-position-y: 80%;
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-direction: forwards;
}


.text
{
    animation-name: move;
    animation-duration: 1s;
    animation-direction: forwards;
}

.title
{
    font-family: Typographica;
    font-size: 70px;
    color: #fff;
    text-shadow: 0px 4px #28f;
    position: relative;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.subtext
{
    font-family: Georgia;
    font-size: 25px;
    transform: translateY(-40px);
    color: #ffffff;
    padding: 15px 0;
    text-shadow: 0px 4px rgb(70, 70, 70,1);
}

h1
{
    font-family: Typographica;
    font-size:70px;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin: 45px 20px;
    text-align: center;
    font-weight: normal;
    color: #254091;
    animation: fade forwards 1s;
}

.underline
{
    position: relative;
    height: 5px;
    background:#000;
    margin: auto auto;
    bottom: 2px;
    animation: appear forwards 1s;
}

span
{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    gap: 20px;
    padding: auto;
}

span img
{
    padding: auto;
    margin: auto;
    text-align: center;
}

span h1
{
    transform: translateY(-50%);
    font-size: 50px;
}

@keyframes move {
    0% {opacity:0; transform:translateY(20px)}
    100% {opacity: 100%; transform: translateY(0px);}
    
}

@keyframes fade
{
    0% {opacity: 20%;}
    100% {opacity: 100%;}
}

@keyframes appear
{
    0% {width:0%}
    100% {width: 120px;}
}
