@font-face {
    font-family: "Typographica";
    src: url(/Styles/fonts/TypoGraphica_demo.woff);
}


@font-face {
    font-family: "American Captain";
    src: url(/Styles/fonts/American\ Captain.woff);
}

@font-face {
    font-family: "Roboto";
    src: url(/Styles/fonts/Roboto-Medium.woff);
}

@font-face {
    font-family: "Franklin Gothic";
    src: url(/Styles/fonts/framd.ttf)
}

body
{
    overflow-x: hidden;
}

.navbar
{
    order: 5;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    background-color: #28f;
    /* To ensure in this case the whole navbar line has the background colour*/
    padding: 0 20px;
    width: auto;
    height: auto;
    transition: all 0.5s;
}

html
{
    margin: 10px;
}

/* For each list elements */

li {
    margin: 0px;
    float: left; /* float, which means will there be a space-separation or no */
}

li a {
    font-family: "Typographica";
    color: white;
    font-size: 20px;
    display: block;
    border-left-color: white;
    border-left-style: solid;
    padding: 10px 20px;
    text-decoration: none; /* Remove the underline or any other text deco */
    position: relative;

}

.Donate /*Class inside of an element*/
{
    border-right-color: white;
    border-right-style: solid;
}

li a:hover:not(.select) /* action when hover button for on than select class */
{
    position: relative;
    background-color: blue;
}

li a:not(.select)
{
   background-color: #28f;
   transition: all 0.5s;
}

.select
{
    background-color: #254091;
    position: relative;
    transition: all 0.5s;
    margin: auto;
    padding: auto;
}


/* */

.background
{
    order: 2;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(Images/Fairview\ nite.png);
    background-size: cover;
    background-position: cover;
    text-align: center;
    padding: 15px 20px;
    margin-top: 15px;
    width: 100h;
    height: 100%;
    background-position-y: 50%;
    animation-name: fade;
    animation-duration: 1s;
    animation-direction: forwards;
}


.text
{
    animation-name: move;
    animation-duration: 1s;
    animation-direction: forwards;
}

.title
{
    text-align: center;
    font-family: Typographica;
    font-size: 70px;
    color: #fff;
    text-shadow: 0px 4px #254091;
    position: relative;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.subtext
{
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    transform: translateY(-40px);
    color: #ffffff;
    padding: 15px 0;
    text-shadow: 0px 2px rgb(70, 70, 70,1);
}

header
{
    font-family: Typographica;
    font-size:70px;
    word-spacing: 10px;
    margin: 45px 20px;
    text-align: center;
    color: #254091;
    animation: fade forwards 1s;
}

.underline
{
    position: relative;
    height: 5px;
    background:#000;
    margin: auto auto;
    bottom: 2px;
    animation: appear forwards 1s;
}

.team
{
    background-image: url(Images/strip.png);
}

.rank
{
    text-align: center;
    font-family: Verdana;
    letter-spacing: -2px;
    background-color: #254091;
    column-span: all;
    font-size: 20px;
    color:#ffffff;
    padding-top: -15px;
}

.skin
{
    width: 192px; 
    height: 320px; 
    transform: translateY(15px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Owner
{
    background-color: rgba(255,0,0,0.70);
}

.Admin
{
    background-color: rgba(255,70,70,0.7);
}

.Mod
{
    background-color: #ff8800;
}

.Mod .alias
{
    margin-top: 20px;
}

.Helper
{
    background-color: rgba(255,180,50,0.75);
}

.Builder
{
    background-color: rgba(0,128,255,.5);
}

.Admin span
{
    display: grid;
    flex: 50%;
    grid-template-columns: 33% 33% 33%;
    padding: auto;
}

.Helper span
{
    display: grid;
    flex: 50%;
    grid-template-columns: 50% 50%;
    padding: auto;
}

.IGN
{
    font-family: 'Arial';
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    text-shadow: none;
    background-color: orange;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -5px;
    min-width: 100px;
    max-width: 250px;
    padding: 10px 25px;
}

.alias
{
    text-align: center;
    font-family: 'Arial';
    color: #fff;
    text-shadow: none;
    word-spacing: 0px;
    background-color: #28f;
    border-radius: 10px;
    font-size: 25px;
    transform: translateY(5px);
    margin: auto;
    min-width: 200px;
    max-width: 300px;
    padding: 10px 20px;
}

.desc
{
    font-family: 'Roboto';
    text-align: center;
    text-shadow: none;
    color:white;
    word-spacing: 5px;
    font-size: 20px;
    margin: 0;
    padding: 30px;
}

.Builder .alias
{
    min-width: 200px;
    max-width: 400px;
}

@keyframes move {
    0% {opacity:0; transform:translateY(20px)}
    100% {opacity: 100%; transform: translateY(0px);}
    
}

@keyframes fade
{
    0% {opacity: 20%;}
    100% {opacity: 100%;}
}

@keyframes appear
{
    0% {width:0%}
    100% {width: 120px;}
}

/* footer */

footer
{
    transform: translateY(8%);
    background-color: rgba(0,0,0,0.65);
    text-align: left;
    position: absolute;
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Franklin Gothic';
    font-size: 20px;
    margin: -18px;
    margin-top: 8px;
    padding: 20px 0px;
}

footer .copyright
{
    margin: 50px;
    text-align: left;
}

footer .copyrightmessage
{
    margin-bottom: -10px;
}

footer .footnote
{
    font-size: 15px;
}

.socmed
{
    transform: translateY(-60px);
    float: right;
    margin: -30px 20px;
}

.socmed a
{
    display: inline-block;
    transition: all 0.25s;
    text-decoration: none;
}

.socmed a:hover
{
    box-shadow: 0px 5px #000;
    transform: translateY(-2px);
}